/* Шапка */




.cap {
  border-bottom: 1px solid #ECECEC;
  @media screen and (min-width: 768px) {
    &--flex {
      display: flex;
    }
  }
}


.nav-link {
  @media screen  and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
  }
}


.nav-link__logo {
  display: block;
  color: #2196F3;
  text-decoration: none;
  font-family: Raleway;
  font-weight: $font-weight-bold;
  font-size: 26px;
  line-height: 1.2;
  @media screen  and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 24px; 
    padding-bottom: 25px;
  }
}
.nav-link__logo-studio {
  color:  $main-text-color;
}

.menu-button {
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: #fff;
  align-items: center;

  & .icon-menu {
    display: none;
  }
  &.is-open .icon-menu {
      display: block;
  }
  &.is-open .icon-cross {
      display: none;
  }
  &:hover,
  &:focus {
    fill: #2196F3;
  }
}
@media screen and  (min-width: 767px) {
  .menu-button {
    display: none;
  }
}
.menu-container {
  display: flex;
  
  @media screen  and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
  }  
}
.site-navigation {   
  display: flex;  
  @media screen and (min-width: 768px) {
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 111px;
  }
}

.site-navigation__item {
  display: block;
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.site-navigation__link {
  display: block;
  font-weight: $font-weight-medium;
  font-size: 14px;
  line-height: 1.2;
  color: $main-text-color ;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus
  {
    color: #2196F3;
    fill: #2196F3;
  }
  
}
  
.site-navigation__active::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  display: flex;
  top: 97%;
  color: #2196F3;
}



.contacts {
  @media screen and (min-width: 1200px) {
    margin-left: 305px;
    display: flex;
    &__item:not(:last-child) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 84px;
  }
  @media screen  and (max-width: 767px) {
    display: flex;
    &__item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.contacts__link {
  display: inline-flex;
  font-weight: $font-weight-medium;
  font-size: 14px;
  line-height: 1.2;
  color: $secondary-text-color;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  fill: #757575;
  align-items: center;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  &:hover,
  &:focus
  {
    color: #2196F3;
    fill: #2196F3;
  }
}

.contacts__svg {
  height: 16px;
  width: 10px;
  margin-right: 10px;
  align-items: center;
}
.contacts__imgs {
  height: 12px;
  width: 16px;
  margin-right: 10px;
}













