/* customers */


.customers {
  display: flex;
  margin-top: 50px;
}
  

.customers__link {
width: 100%;
height: 100%;
border: 1px solid #AFB1B8;
border-radius: 4px;
display: flex;
fill: #AFB1B8;
align-items: center;
justify-content: center;

transition-property: border-color, fill, filter;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border-color: #2196F3;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    fill: #2196F3;
  }
}
.customers__imgs {
  height: 60px;
  width: 106px;
}
.customers__item {
  width: 170px;
  height: 92px;
  &:not(:last-child) {
  margin-right: 30px;
}
}


