/* Форма */

.form {
  margin-left: auto;
}

.form__container {
  margin-top: 20px;
  display: flex;
}
.form__button {
  margin-left: 12px;
  border: transparent;
  cursor: pointer;
  padding: 10px 28px;
  font-family: Roboto;
  font-weight: $font-weight-bold;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #2196F3;
  color: #FFFFFF;
  border-radius: 4px;
  transition-property: background-color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}

.form__title {
  font-weight: $font-weight-bold;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #FFFFFF;

}
.form__mail {
  width: 358px;
  min-height: 50px;
  padding: 15px 16px;
  background-color: $footer-bascground;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.form__svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

