/* форма модального вікна */

.js-speaker-form {
  padding: 40px;
  display: block;
}

.js-speaker-form__title {
margin-bottom: 12px;
font-weight: $font-weight-bold;
font-size: 20px;
line-height: 1.2;
text-align: center;
color: #212121;
}

.js-box {
  text-decoration: none;
  &:not(:first-child) {
    margin-top: 10px;
  }
}

.js-box__svg {
  position: absolute;
  width: 13px;
  height: 13px;
  transform: translateY(+14px) translateX(-435px); 
}

.js-box__label {
  position: relative;
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  color: #757575;
}
.js-box__input {
  width: 448px;
  height: 40px;
  padding-top: 11px;
  padding-left: 42px;
  padding-right: 12px;
  padding-bottom: 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition-property: barder-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: #2196F3;
  
  }
  &:focus ~ .js-box__svg {
    fill: #2196F3;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.js-box__textarea {
  display: block;
  resize: none;
  cursor: pointer;
  width: 448px;
  min-height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  &:focus {
    border-color: #2196F3;
    transition-property: barder-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  }
}

.js-item {
text-align: center;
margin-top: 20px;
}

.js-item__conditions {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.js-item__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  &:checked + .js-item__icon {
    background-color: #2196F3;
    outline: 1px solid #2196F3;
    background-origin: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition-property: box-shadow, background-color, outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.js-item__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: #fff;
  border-radius: 1px;
  outline: 1px solid #000;
  background-size: contain;
}
.js-item__conditions-text {
  font-size: 14px;
  line-height: 1.9;
  cursor: pointer;
  color: #757575;
  margin-left: 7px;
}
.js-item__conditions-link {
  color: #2196F3;
}
.js-item__button {
  border: transparent;
  margin-top: 30px;
  padding: 10px 55px;
  border-radius: 4px;
  background: #2196F3;
  border-radius: 4px;
  font-weight: $font-weight-bold;
  font-size: 16px;
  line-height: 1.9;
  color: #FFFFFF;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}


