/* Приклади праці */

.portfolio {
  margin-top: 50px;
  flex-wrap: wrap;
  &--flex {
    display: flex;
    justify-content: space-between;
  }
}
.portfolio__item {
  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 30px;
    &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.portfolio__link {
  display: block;
  text-decoration: none;

  transition-property: filter;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  }
  &:hover .portfolio__animation,
  &:focus .portfolio__animation  {
    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.portfolio__box {
  position: relative;
  overflow: hidden;
}
.portfolio__animation {
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__anim-text {
  width: 322px;
  height: 168px;
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
}

.portfolio__wraper {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  padding: 20px 24px;
}
.portfolio__title {
  font-weight: $font-weight-bold;
  font-size: 18px;
  line-height: 2;
  color: $main-text-color;
}
.portfolio__text {
  font-size: 16px;
  line-height: 1.9;
  color: $secondary-text-color;
  margin-top: 4px;
}




















